/* Open Style For All */
body{
  font-family: "Open Sans", sans-serif;
}
.btn-color {
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 15px;
    font-weight:  600;
}

/* Header Banner Section */
.banner{
    padding: 20px 170px 0px 170px;
    background-color: #ffe7ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .banner-image{
    width: 400px;
}
.banner-title{
    font-size: 50px;
    font-weight: 750;
    margin-bottom: 0px;
    color: #181818;
}
.banner-paragraph{
    margin-top: 20px;
    color:#474747;
    margin-bottom: 20px;
}

/* hot deal section */
.hot-deal{
    padding: 70px 250px 80px 250px;
    background-color: #FDF6F8;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.hot-deal-content{
    max-width: 550px;
    text-align: center;
}
.hot-deal .hot-deal-image{
    width: 180px;
}
.hot-deal-title{
    font-size: 26px;
    font-weight: 750;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
    color: #181818;
}
.hot-deal-paragraph{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color:#474747;
    margin-bottom: 20px;

#hot-deal-button{
    text-align: center;
}
}
span{
    color: #E55473;
}
singup-btn{
    text-align: center;
}
/* Instagram Section */
.instagram{
    padding: 70px 250px 40px 250px;
    text-align: center;
}
.instagram-title{
    font-size: 26px;
    font-weight: 750;
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
    color: #181818;
}
.instagram-paragraph{
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color:#474747;
    margin-bottom: 0px;
}
.insta-img-container{
    display: flex;
    align-content: center;
    justify-content: center;

}
.insta-img{
    margin-right: 20px;
}