/* Open Style For All */
body{
  font-family: "Open Sans", sans-serif;
}
.btn-color {
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    color: #ffffff;
    padding: 12px;
    font-size: 15px;
    font-weight:  600;
}
.banner{
    padding: 20px 150px 0px 150px;
    background-color: #FCEEF1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .banner-image{
    width: 400px;
}
.banner-title{
    font-size: 50px;
    font-weight: 750;
    margin-bottom: 0px;
    color: #181818;
}
p{
    margin-top: 20px;
    color:#474747;
}